body {
  background-color: #3b4045;
}


/* card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 6px;
  transition: all 300ms ease-out ;


}

.card:hover {
  transition: all 300ms ease-in ;
  transform: scale(1.1);
}



.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 0px 0px 6px 6px;
}


.card button:hover {
  opacity: 0.7;
}

/* table of products*/

.containergrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}



.image {
  width: 300px;
  height: 250px;
}

/* seperator*/

.seperator {
  width: 100%;
  height: 350px;
  background: #3b4045;
  color: #f3f3f3;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;

}

.heatmap-seperator {
  width: 100%;
  height: 2000px;
  background: #CB9B68;
  color: #fff0db; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;

}

.heatmap-image {
  height: 600px;
  border-radius: 15%;

}



.heatmap-image:hover {
  transition: all 200ms ease-in ;
  transform: scale(1.05);
}

.heatmap-image button:hover {
  opacity: 0.6;
}



.blank-seperator {
  width: 100%;
  height: 200px;
  background: #7d7f7c;
  color: #f3f3f3;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;

}

.footer-seperator{
  width: 100%;
  height: 250px;
  background: #3b4045;
  color: #f3f3f3;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;

}
.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

/* text box inputs*/

.country_input {
  text-align:center;
}

.four_input_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.four_input_grid input[type="text"] {
  width: 80%;
  height: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}




/* single graph page if we do it*/




button[type="submit"] {
    background-color: #333;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

/* ALL BELOW IS LOGIN/REGISTER*/

.header{
  padding: 5px 120px;
  width: 150px;
  height: 70px;
  
}

.border{
  padding: 50px 50px;
  width: 900px;
  height: 900x;
  border: 1px solid #7d7f7c;
  border-radius: 0px;
  background-color: #CB9B68;
}

.btn {
  padding: 10px 40px;
  background-color: #7d7f7c; 
  color: #FFFFFF;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  height: 50px;
  width: 400px;
  font-size: 20px;
  text-align: center;
}

.textbox{
  padding: 10px 40px;
  height: 50px;
  width: 400px;
  font-size: 20px;
  text-align: center;
  background-color: #7d7f7c; 
  font-family: 'Times New Roman', Times, serif;
  color: #FFFFFF;
  border-radius: 20px;
}
   
::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.word{
  color: #FFFFFF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;

}

.bottom{
  color: #3b4045;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

}


/* switch */
.toggle {
position: relative;
display: inline-block;
width: 100px;
height: 52px;
background-color: orange;
border-radius: 30px;
border: 2px solid gray;
}

.toggle:after {
content: '';
position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: gray;
top: 1px;
left: 1px;
transition: all 0.5s;
}

p {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.checkbox:checked + .toggle::after {
left: 49px;
}

.checkbox:checked + .toggle {
background-color: black;
}

.checkbox {
display: none;
}

.checkbox:checked ~ #input4 {
visibility: hidden;
}

.checkbox:checked ~ #input4[value='marking'] {
visibility: visible;
}

.checkbox:not(:checked) ~ #input4[value='clustering'] {
visibility: visible;
}


/*pop ups*/

/* Overlay */
.popup-overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
z-index: 1;
}

.popup-overlay:target {
visibility: visible;
opacity: 1;
}

/* Popup container */
.popup-container {
margin: 20px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 60%;
position: relative;
transition: all 5s ease-in-out;
}

/* Close button */
.popup-close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}

.popup-close:hover {
color: #06D85F;
}

/* Popup content */
.popup-content {
max-height: 30%;
overflow: auto;
}

/* Image within the popup */
.popup-image {
width: 100%;
height: auto;
}

/* Customer Profiles Section */
.profile-container {
  padding: 1rem;
  background-color: #3b4045; 
  color: #f3f3f3; 
}

.profile-row {
  margin-top: 1rem; 
}

.profile-card {
  background: #2d3238; 
  color: #f3f3f3; 
  border: none; 
}

.profile-card .card-body {
  padding: 1rem;
}

.profile-card h5.card-title {
  font-size: 1.25rem;
}

.profile-card p.card-text {
  font-size: 1rem; 
}

.profile-card:hover {
  background: #343a40; 
}

@media (max-width: 991px) {
  .profile-card {
    margin-bottom: 1rem; 
  }
}
